#game-menu {
    font-size: 70px;
    width: 100%;
    text-align: center;

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

table {
    margin: 0 auto;
    width: 100%;
    height: 82%;
    border-collapse: separate;
    border-spacing: 10px;
    max-width: 800px;
}

td {
    text-align: center;
    vertical-align: middle;
}

.flip {
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 100px;
    margin: 0px;
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -ms-transform: perspective(1000px) rotateY(180deg);
    -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    -o-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
    
    -ms-transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.face.back {
    background-color: #99b433;
    cursor: pointer;    

    -ms-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    -o-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
}

.card.flipped .face {
    -ms-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    -o-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
    
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.card.flipped .face.back {
    -ms-transform: perspective(1000px) rotateY(-180deg);
    -webkit-transform: perspective(1000px) rotateY(-180deg);
    -moz-transform: perspective(1000px) rotateY(-180deg);
    -o-transform: perspective(1000px) rotateY(-180deg);
    transform: perspective(1000px) rotateY(-180deg);
}

.val {
    position:absolute;
    top:10%; left:0; bottom:0; right:0;
    margin: auto;
    color: #99b433; 
}

@media all and (min-height: 600px) {

    #game-menu {
        margin-top: 20px;
    }
    
    #game-menu.focus {
        -webkit-transform: scale(1.7);
        -moz-transform: scale(1.7);
        -o-transform: scale(1.7);
        -ms-transform: scale(1.7);
        transform: scale(1.7);
    }
}

@media all and (max-height: 600px) {
    .flip .card {
        font-size: 70px;
    }
}

@media all and (max-height: 400px) {
    #game-menu {
        font-size: 50px;
    }

    #board {
        border-spacing: 10px 4px;
    }

    .flip .card {
        font-size: 35px;
    }

    .val {
        top: 8%;
    }
}

@media all and (max-width: 600px) {
    .flip .card {
        font-size: 50px;
    }
}