body {
    background-color: #99b433;
    font-family: arial;
    padding-top: 30px;
}

.card .face, li, a#play {
    border: 2px solid white;
    color: white;
    margin: 5px;
}

a {
    color: white;
    text-decoration: none;
}

@media all and (max-height: 400px) {
    body {
        padding-top: 5px;
    }
}