body {
    background-color: #99b433;
    font-family: arial;
}

.card, li, a#play {
    border: 2px solid white;
    color: white;
    font-size: 100px;
    margin: 5px;
}

a {
    color: white;
    text-decoration: none;
}