<table id='board' class='flip'>
  <tr ng-repeat="row in board.rows">
    <td ng-repeat="tile in row"
        ng-click='board.flip(tile)'>
      <div class='card' ng-class="{ 'flipped': tile.isFlipped }">
        <div class="face front"><span class='val'>{{ tile.value }}</span></div>
        <div class="face back"></div>
      </div>
    </td>
  </tr>
</table>

<menu id="game-menu" ng-class="{ 'focus': board.isFinished() }">
  <a href='#/menu'><i class='fa fa-home'></i class='fa fa-rotate-left'></a>
  <a href="" ng-click="resetBoard()"><i class='fa fa-rotate-left'></i></a>
</menu>
