<section id='menu-container'>

  <ul id='board-sizes' ng-class="{ 'enabled': !hasSelectedTileSetup() }">
    <li ng-repeat="tileSetup in tileSetups"
        ng-class="{ 'selected': tileSetup.isSelected }"
        ng-click='selectTileSetup(tileSetup)'>
      <table>
        <tr ng-repeat='row in tileSetup.rows'>
          <td ng-repeat='column in tileSetup.columns'></td>
        </tr>
      </table>
    </li>
  </ul>

  <ul id='game-types' ng-class="{ 'enabled': hasSelectedTileSetup() }">
    <li ng-repeat='gameType in gameTypes'
        ng-class="{ 'selected': gameType.isSelected }"
        ng-click='selectGameType(gameType)'>
      <span class='description1' ng-class="gameType.description1CssClass">
        {{ gameType.localizedDescription1() }}
      </span>
      <span class='description2' ng-class="gameType.description2CssClass">
        {{ gameType.localizedDescription2() }}
      </span>
    </li>
  </ul>
</section>
